@font-face {
  font-family: 'Goudy Bookletter 1911';
  src: url('/static/font/goudy_bookletter_1911-webfont.woff') format('woff');
  font-weight: 200 900;
}

@font-face {
  font-family: 'Chunk';
  src: url('/static/font/ChunkFive-Regular.woff2') format('woff2');
  font-weight: 200 900;
}

body {
    box-sizing: border-box;
    background: #f5623b;
    font-family: "Goudy Bookletter 1911", "serif";
}

h2 {
    font-family: Chunk, sans-serif;
    font-size: 30pt;
    margin-bottom: 0;
}

header {
    max-width: 90rem;
    margin-top: 0;
    margin-inline: auto;
    padding-bottom: 5rem;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    text-decoration: underline;
    color: black;
}

header h1 {
    font-family: monospace;
    padding-inline: 1rem;
    transform: rotate(-6deg);
    background: beige;
    padding-block: 0.5rem;
    border-radius: 0.25rem;
}

header nav {
    background: beige;
    max-width: 60%;
    margin-left: auto;
    margin-right: 0;
    font-family: monospace;
    font-size: 1.4rem;
    border-radius: 0.25rem;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
    min-height: 3rem;
}

header nav ul li {
    padding: 0.5rem;
    padding-inline: 1rem;
    transition: background 0.2s;
}

header nav ul li:hover {
    background: #a6a697;
    transition: background 0.2s;
}

main {
    background: beige;
    max-width: 80rem;
    min-height: 70dvh;
    margin: auto;
    border-radius: 2rem;
    border: 10px solid #a6a697;
    padding-inline: 1rem;
    font-size: 16pt;
}

.block-featured_page {
    background: #5e5e54;
    border-top: 10px solid #f5623b;
    border-bottom: 10px solid #f5623b;
    color: beige;
    display: grid;
    grid-template-columns: 150px 1fr;
}

.block-featured_page > img {
    grid-row: span 2;
}

.block-featured_page > .feature-title {
    font-family: "Chunk", sans-serif;
    font-size: 30pt;
    padding-left: 1rem;
}

.block-featured_page > .description {
    padding-left: 1rem;
}