{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    <nav class="breadcrumbs">
    {% if self.get_ancestors|length > 1 %}
        <ul>
            {% for p in self.get_ancestors %}
                {% if p.is_root == False %}
                    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="active">{{ self.title }}</li>
        </ul>
    {% endif %}
    </nav>
    <h2>{{ page.title }}</h2>
    {% include_block page.body %}
{% endblock content %}
